<div class="section no-pad-bot indigo z-depth-1">
    <div class='container'>
        <div class="row">
            <div class="col s12">
                <h1 class="title"><strong class="white-text">Getting Started</strong></h1></div>
            <div class='col s12'>
                <h3 class="light indigo-text text-lighten-4 center-on-small-only"
                    >Let's Start Building a Fantastic <strong class="pink-text text-accent-1"
                        > User Interface</strong></h3></div></div>
        <div class="section">
            <a class="btn pink accent-1 btn-large waves-effect waves-light"
                >Download <i class="mdi-file-file-download right"></i></a></div></div></div>
<div class="row">
    <div class="container">
        <div class="row">
            <div class='col s6'>
                <div class="card white darken-1">
                    <div class="card-content ">
                        <h1 class="card-title indigo-text"><strong>Download ui-material</strong></h1>
                        <p>I am a very simple card. I am good at containing small bits of information.
                          I am convenient because I require little markup to use effectively.</p></div>
                    <div class="card-action">
                      <a class="btn pink accent-1 white-text waves-effect waves-light" href="#"
                          >ui-materialize</a></div></div></div>
            <div class='col s6'>
                <div class="card white darken-1">
                    <div class="card-content ">
                        <h1 class="card-title indigo-text">Download Materialize<strong>CSS</strong></h1>
                        <p>I am a very simple card. I am good at containing small bits of information.
                          I am convenient because I require little markup to use effectively.</p></div>
                    <div class="card-action">
                        <a class="btn pink accent-1 white-text waves-effect waves-light" href='#'
                            >MaterializeCss</a></div></div></div></div>
        <div class="row">
            <div class='col s12'>
                <div class="card white">
                    <div class="card-content">
                        <h1 class=" pink-text text-accent-1"><strong>Bower</strong></h1>
                        <p class="">Simply bower install and save ui-materialize</p></div>
                    <div class="card-action">


<pre><code hljs>
        bower install --save ui-materialize
                          </code></pre></div></div></div></div>


        <div class="row">
            <div class='col s12'>
                <div class="card white">
                    <div class="card-content">
                        <h1 class="pink-text text-accent-1"><strong>HTML Setup</strong></h1>
                        <p class="">In Order for ui-materialize to work properly, we must layout our initail HTML<br>
                          The best way to do this is using either ng-include, or multiple views from the first page.</p>
                        <p class=""></p></div>
                    <div class="card-action">


<pre><code no-escape hljs>
        &lt;html>
            &lt;body class="nav-fixed">

                &lt;mz-nav color="white" fixed=true>
                    &lt;div ng-include="'path/to/nav.template.html'">&lt;/div>
                &lt;/mz-nav>

                &lt;mz-view>&lt;/mz-view>

                &lt;mz-footer color="grey darken-3">
                    &lt;div ng-include="'path/to/footer.template.html'">&lt;/div>
                &lt;/mz-footer>

            &lt;/body>
        &lt;/html></code></pre></div></div></div></div>

      </div>
  </div>
