::-webkit-scrollbar {
    height: 0px !important;
    width: 0px !important;
    display: none !important;
}

nav-side-open-widths(fixed=false)

    width $nav-side-width
    min-width $nav-side-width
    max-width $nav-side-width

nav-side-fold-widths(fixed=false)

    width $nav-side-width-fold
    min-width $nav-side-width-fold
    max-width $nav-side-width-fold

side-container-defaults()
    flex-container()
    transition all 200ms cubic-bezier(0.19,0.99,0.01,0.99)
    flex-direction column
    position relative
    z-index 1000
    heights(100%, true)


side-header-defaults()
    flex-container()
    flex-direction column
    flex: 1 0 auto
    heights($nav-side-heading-height, true)

    &.heading-tall
        heights($nav-side-heading-height-tall, true)

side-content-defaults()
    flex-container()
    flex-direction column
    flex: 1 0 auto

nav-side-defaults(side, order)
    order order

    /*
        ==================================== SIDE > CONTAINER
    */
    & > .side-container
        side-container-defaults()
        height 100%


        /*
            ========= > CONTAINER > HEADING
        */
        & > .side-header
            side-header-defaults()

            &.has-large-action
                heights(40px, true)
        /*
            ========= > CONTAINER > CONTENT
        */
        & > .side-content
            side-content-defaults()
            .nav-side-content-wrap
                position absolute
                top 0
                right 0
                left 0
                bottom 0
                width inherit
                height inherit
                // overflow auto !important


/*
============================== NAV SIDE
*/
.mz-side-nav
    flex-container()
    top:        0
    order:      -1
    width:      0px
    position:   relative
    transition: all 200ms cubic-bezier(0.19,0.99,0.01,0.99)
    flex-direction: column
    flex        1 0 auto

    &.nav-left
        box-shadow(4px 0px 6px rgba(0,0,0,0.1))
        left: 0
        nav-side-defaults(left, -1)
        .side-container
            left: 0

    &.nav-right
        box-shadow(-4px 0px 6px rgba(0,0,0,0.3))
        right: 0
        nav-side-defaults(right, 2)
        .side-container
            box-shadow(-4px 0px 6px rgba(0,0,0,0.3))
            right: 0

    &.nav-fixed
        .side-container
            top: 0
            z-index 1004
            position fixed
    &.start-viz-0
        width 0px
        min-width 0px
        max-width 0px
    &.start-viz-thin
        width 63px
        min-width 63px
        max-width 63px

    &.start-viz-fat
        width 250px
        min-width 250px
        max-width 250px


    &.nav-viz-0
        .side-container
            width 0px
            min-width 0px
            max-width 0px

    &.nav-viz-thin
        .side-container
            width 64px
            min-width 64px
            max-width 64px

    &.nav-viz-fat
        .side-container
            width 250px
            min-width 250px
            max-width 250px
            scroll-vertical()




// .nav-right-container::-webkit-scrollbar {
//     display: none;
// }
