//////
//////     side-nav
//////
// .mz-side-nav {

//     flex-container();

//     top: 0
//     z-index: 12
//     flex 1 0 auto
//     position: relative
//     flex-direction row
//     background-color: white
//     // transition: width 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000)
//     easeOutExpo(width,500ms)

//     box-shadow(4px 0 6px rgba(0,0,0,0.1));

//     li {
//         float: none;
//         line-height: 64px;
//         padding: 0 15px;
//         transition: background-color .3s
//         &:hover, &.active { background-color: #ddd; }

//         a {
//             display: block;
//             padding: 0 15px;
//             color: #444;
//         }
//     }
// }


nav-side-container-varients(side)

    .mz-side-nav

        &.mz-nav-side-{left}-container
            flex: 1 0 auto

            top: 0
            z-index: 13
            position: absolute

            all-heights(100%)
            all-widths(100%)

            if side is left

                left: -($side-nav-width);
                order: -1;

            else if side is right

                right: -($side-nav-width);
                order: 2;


.mz-nav-side-left-container {

    flex: 1 0 auto

    top: 0
    z-index: 13
    position: absolute
    left: -($side-nav-width)
    width: 100%
    height: 100%
    min-width: 100%
    max-width: 100%
    min-height: 100%
    max-height: 100%

}

.mz-side-nav-heading
    flex: 1 0 auto
    height: $side-nav-heading-height
    min-height: $side-nav-heading-height
    max-height: $side-nav-heading-height

    &.heading-tall
        height $side-nav-heading-height-tall
        min-height $side-nav-heading-height-tall
        max-height $side-nav-heading-height-tall


.mz-side-nav-content
    flex: 1 0 auto
    position relative
    vertical-scroll();


side-varents-md()

    md-left                    = left
    md-left-base-width         = 0px
    md-left-base-position      = fixed
    md-left-container-width    = 100%
    md-left-container-position = relative
    md-left-container-left     = -($side-nav-width)
    md-left-base-width-open    = $side-nav-width
    md-left-container-x-open   = 0px
    mz-side-varients(left, md-left-base-width, md-left-base-position, md-left-container-width, md-left-container-left, md-left-base-width-open, md-left-container-x-open)

side-container-varients-sm()

    mz-side-varients(left, 0px, fixed, 100%, absolute, -($side-nav-width), $side-nav-width, 0px)


.mz-flex
    side-varients-md()

    &.has-mz-container
        side-container-varients-sm(left, 0px, fixed, 100%, absolute, -($side-nav-width), $side-nav-width, 0px)
        side-container-varients-sm(right, 0px, fixed, 100%, absolute, -($side-nav-width), $side-nav-width, 0px)



// +break-sm
//     .mx-flex
//         &.mz-side-nav
//             &.nav-left

//                 position: fixed
//                 width: $side-nav-fold-width
//                 min-width: $side-nav-fold-width
//                 max-width: $side-nav-fold-width

//             &.nav-left-open
//                 width $side-nav-width-mobile
//                 max-width $side-nav-width-mobile
//                 min-width $side-nav-width-mobile

//                 .nav-side-left-container
//                     left -($side-nav-width-mobile) +10px







