$btn-padding   = {'xs': 10px, 'sm': 12px, 'md': 14px, 'lg': 16px, 'xl': 26px}
$btn-font-size = {'xs': 11px, 'sm': 11px, 'md': 13px, 'lg': 14px, 'xl': 16px}
$btn-icon-size = {'xs': 13px, 'sm': 15px, 'md': 20px, 'lg': 24px, 'xl': 28px}

$mz-action-btn-size = 80px;

// METHODS
btn-sizes(prop)
    if prop is width
        min-width     : $mz-action-btn-size !important
        max-width     : $mz-action-btn-size !important
        width         : $mz-action-btn-size !important
    if prop is height
        height        : $mz-action-btn-size !important
        min-height    : $mz-action-btn-size !important
        max-height    : $mz-action-btn-size !important

normalize-action-btn-flex-box()
    flex-container();
    flex            : 1 0 auto
    align-items     : center
    justify-content : center

action-btn-direction-varients(direction, prop)

    flex-direction     : direction
    btn-sizes(property);

    & > .action-list          ,
    & > .action-btn-container ,
    & > .action-list-container
        btn-sizes(property);
        flex-direction   : direction


make-btn-transition(size, duration, delay, anim)
    &.btn-position-{size}
        transition width duration anim delay, height duration anim delay

mz-btn-transition-varients()
    for i in 1..12
        index = (i - 1)
        time = (index * 100)/(3)
        delay = unit(time, 'ms')
        make-btn-transition(index, 300ms, delay, cubic-bezier(0.19,0.99,0.01,0.99))





.mz-action-btn
    flex-container()
    position        : relative
    align-items     : center
    min-width 300px
    max-width 600px

    .action-btn-container
        normalize-action-btn-flex-box()
        btn-sizes(width);
        btn-sizes(height);

    .action-btn
        normalize-action-btn-flex-box()
        btn-sizes(width);
        btn-sizes(height);
        margin           : 0
        & > i
            transition all 800ms cubic-bezier(0.19,0.99,0.01,0.99)

    .action-list-container
        normalize-action-btn-flex-box()

    .action-list
        normalize-action-btn-flex-box()

    .mz-btn
        width         : 0px
        height        : 0px
        margin-bottom : 0 !important
        mz-btn-transition-varients()

    &.action-btn-top
        width        :$mz-action-btn-size
        max-width    : $mz-action-btn-size
        min-width    : $mz-action-btn-size
        max-height   : 80px
        overflow     : visible
        action-btn-direction-varients(column, width)

        & > .action-btn-container
            order: 1

        & > .action-list-container
            flex-container()
            btn-sizes(width)
            order           : -1
            flex            : 1 0 auto
            position        : relative
            flex-direction  : column
            height          : 100%
            justify-content : flex-end

            .action-list
                flex-container()
                btn-sizes(width)
                flex            : 1 0 auto
                top             : 0
                left            : 0
                width           : 80px
                height          : 300px
                position        : relative
                max-height      : 600px
                min-height      : 300px
                align-items     : center
                flex-direction  : column
                justify-content : flex-end

                .mz-btn
                    margin-left   : 0
                    margin-right  : 0
                    margin-bottom : 16px !important


    &.action-btn-bottom
        width      : $mz-action-btn-size
        max-width  : $mz-action-btn-size
        min-width  : $mz-action-btn-size
        max-height : 80px
        overflow   : visible
        action-btn-direction-varients(column, width)

        & > .action-btn-container
            order  : -1

        & > .action-list-container
            btn-sizes(width)
            flex-container()
            order           : 1
            height          : 100%
            position        : relative
            flex-direction  : column
            justify-content : flex-start

            .action-list
                flex-container()
                btn-sizes(width)
                position        : relative
                width           : 80px
                height          : 300px
                max-height      : 600px
                min-height      : 300px
                align-items     : center
                flex-direction  : column
                justify-content : flex-start

                .mz-btn
                    margin-right : 0
                    margin-left  : 0
                    margin-top   : 16px !important

    &.action-btn-left
        action-btn-direction-varients(row, height)

        & > .action-btn-container
            order: 1

        & > .action-list-container
            btn-sizes(height)
            order           : -1
            left            : -140px
            justify-content : flex-end

            .action-list
                btn-sizes(height)
                position        : relative
                justify-content : flex-end

    &.action-btn-right
        action-btn-direction-varients(row, height)

        & > .action-btn-container
            order: -1

        & > .action-list-container
            btn-sizes(height)
            order           : 1
            right           : -140px
            justify-content : flex-start

            .action-list
                position        : relative
                justify-content : flex-start

                .mz-btn:nth-child(1)
                    position    : relative
                    margin-left : 16px

    &:hover

        .action-btn
            & > i
                transform: rotate(360deg)
        .mz-btn
            width  : 37px
            height : 37px


.btn.mz-btn
    background #ff4081