$btn-padding   = {'xs': 10px, 'sm': 12px, 'md': 14px, 'lg': 16px, 'xl': 26px}
$btn-font-size = {'xs': 11px, 'sm': 11px, 'md': 13px, 'lg': 14px, 'xl': 16px}
$btn-icon-size = {'xs': 13px, 'sm': 15px, 'md': 20px, 'lg': 24px, 'xl': 28px}

.mz-btn
    z-index: 2
    display: inline-block
    vertical-align: top
    margin: 0
    padding: 0
    border: none
    border-radius: 0
    background-color: transparent
    font-weight: 400
    text-align: center
    text-transform: uppsercase
    cursor: pointer


    &,
    &:hover,
    &:active,
    &focus
        text-decoration: none
        outline: none

    &::-moz-focus-inner
        border: none
        padding: none

    .ripple
        z-index: -1


// for size in $btn-sizes
