$btn-padding   = {'xs': 10px, 'sm': 12px, 'md': 14px, 'lg': 16px, 'xl': 26px}
$btn-font-size = {'xs': 11px, 'sm': 11px, 'md': 13px, 'lg': 14px, 'xl': 16px}
$btn-icon-size = {'xs': 13px, 'sm': 15px, 'md': 20px, 'lg': 24px, 'xl': 28px}

// .mz-btn
//     z-index: 2
//     display: inline-block
//     vertical-align: top
//     margin: 0
//     padding: 0
//     border: none
//     border-radius: 0
//     background-color: transparent
//     font-weight: 400
//     text-align: center
//     text-transform: uppsercase
//     cursor: pointer


//     &,
//     &:hover,
//     &:active,
//     &focus
//         text-decoration: none
//         outline: none

//     &::-moz-focus-inner
//         border: none
//         padding: none

//     .ripple
//         z-index: -1


// for size in $btn-sizes


.mz-action-btn
  position relative
  flex-container()
  flex-direction row
  align-items center


  &.mz-action-btn-large
    padding 10px

  .action-btn
    & > i
      transition all 400ms cubic-bezier(0.19,0.99,0.01,0.99)

  .action-list

    position relative
    width 500px

    .action-list-container
      position relative
      height 52px
      width 500px
      display flex
      align-items center
      .mz-btn
        width 0
        height 0
        overflow hidden
        transition width 400ms cubic-bezier(0.19,0.99,0.01,0.99), height 400ms cubic-bezier(0.19,0.99,0.01,0.99)
        for i in 2..12
          delay = (i - 1)*(100)/(3)
          &:nth-child({i})
            transition width 400ms cubic-bezier(0.19,0.99,0.01,0.99) unit(delay, 'ms'), height 400ms cubic-bezier(0.19,0.99,0.01,0.99) unit(delay, 'ms')

  &:hover
    .action-btn
      & > i
        transform-rotate(270deg)
    .action-list
      .mz-btn
        width 37px
        height 37px



