

$vendor(prop, args)
    -webkit-{prop} args
    -moz-{prop} args
    {prop} args

$create-side-varient(side=false, side-label, side2=false, side2-label, size=false)
    if side and side2 and size

        &-{side}{side2}-{size}
            padding-{side-label} size
            padding-{side2-label} size

    else if side and side2

        &-{side}{side2}
            padding-{side-label} $defaults-size
            padding-{side2-label} $defaults-size

    else if side and size

        &-{side}-{size}
            padding-{side-label} size

    else if side

        &-{side}
            padding-{side-label} $defaults-size

    else
        &
            padding $defaults-size

all-widths(width)
    width:width
    min-width:width
    max-width:width

all-heights(height)
    height:height
    min-height:height
    max-height:height





mz-side-varients(side, base-width, base-position, container-width=100%, container-position, container-direction, base-width-open, container-x-open=0px)

    .mz-side-nav

        &.side-{side}

            if side is left
                left 0
            if side is right
                right 0

            position base-position

            all-heights(100%)

            width = base-width

            easeOutExpo(width, 500ms)

            .nav-side-{side}-container

                easeOutExpo(left,500ms)

                all-widths(container-width)

                if side is left

                    left: container-direction

                if side is right

                    right: container-direction

                if container-position
                    position: container-position

        &.nav-{side}-open

            all-widths(base-width-open)

            .nav-side-{side}-container

                if side is left

                    left: container-x-open

                if side is right

                    right: container-x-open


