$defaults-size = 10px

$sides         = top right bottom left
$sides-short   = t r b l
$sizes         = 5px 10px 15px 20px 25px 30px 35px 40px 60px 80px 100px 120px 140px 160px 180px 200px


/*** Buttons ***/
$button-background-disabled = #DFDFDF
$button-color = color("blue", "base")
$button-color-disabled = #9F9F9F
$button-color-flat = #343434
$button-color-raised = #FFF
$button-floating-size = 37px
$button-height = 36px
$button-font-size-shared = 1.3rem
$button-line-height = 36px


/*** Cards ***/
$default-color = #00bcd4
$card-padding = 16px
$footer-font-color = #000

/*** Collapsible ***/
$collapsible-height = 3rem
$collapsible-header-color = #fff
$collapsible-border-color = #ddd

/*** Forms ***/
// Text Inputs + Textarea
$border-color = color("grey", "base")
$highlight-color = color("light-blue", "base")
$label-font-size = .8rem

// Radio Buttons
$disabled-color = rgba(0,0,0, .26)
$fill-color = #0f9d58
$radio-border = #5a5a5a



/*** Global ***/
// Media Query Ranges
$small-screen-up = 601px
$medium-screen-up = 993px
$large-screen-up = 1201px
$small-screen = 600px
$medium-screen = 992px
$large-screen = 1200px

// $medium-and-up = "only screen and (min-width: #{$small-screen-up})"
// $large-and-up = "only screen and (min-width: #{$medium-screen-up})"
// $small-and-down = "only screen and (max-width: #{$small-screen})"
// $medium-and-down = "only screen and (max-width: #{$medium-screen})"
// $medium-only = "only screen and (min-width: #{$small-screen-up}) and (max-width  = #{$medium-screen})"

// Grid Variables
$num-cols = 12
$gutter-width = 1.5rem



/*** Toasts ***/
$toast-height = 48px



/*** Typography ***/
$off-black = rgba(0, 0, 0, 0.87)
// Header Styles
$h1-fontsize = 4.2rem
$h2-fontsize = 3.56rem
$h3-fontsize = 2.92rem
$h4-fontsize = 2.28rem
$h5-fontsize = 1.64rem
$h6-fontsize = 1rem

// Flowtext
$range  = $large-screen - $small-screen
$intervals = 20
$interval-size = $range / $intervals