@import '_vars'
@import '_mixins'
@import '_util'
@import '../directives/mzFlex/mzFlex'
@import '../directives/mzNav/mzNav'
@import '../directives/mzView/mzView'
@import '../directives/mzMain/mzMain'
@import '../directives/mzFooter/mzFooter'
@import '../directives/mzCol/mzCol'
@import '../directives/mzTabs/mzTabs'
@import '../directives/mzTab/mzTab'
@import '../directives/mzTabContent/mzTabContent'
@import '../directives/mzCollection/mzCollection'

.ui-materialize {

}

// code
//     background  #e5e5e5
//     border 1px solid lightgrey
//     padding 20px

.promo-caption
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0px;

