.mz-nav

    li { max-height: 64px; overflow-y: hidden; }

    .mz-nav-container
        flex-container()
        flex: 1 0 auto


body
    &.nav-fixed
        nav.fixed
            position fixed
            z-index 100
            top 0
            left 0

