.intro-section
    flex 1 0 auto
    align-self stretch
    background-image url('images/md-1.png')
    background-size contain
    background-attachment: fixed;
    min-height 80vh;
    height 80vh;

h1.title
    font-weight 500
    text-shadow(0 2px 2px rgba(0,0,0,.5))
    strong
        font-weight 100
h3.intro-text
    font-weight 100
    text-shadow(0 2px 2px rgba(0,0,0,.5))
    strong
        font-weight 700

.brand-logo
    text-shadow(0 2px 4px rgba(0,0,0,.1))

.intro-devices
    margin 0 auto
    width 400px
    padding 20px
    border-radius(10px)

    .intro-device-inner
        background white
        min-height 100%
        width 100%

    .intro-block
        height 50px
        box-shadow(0 2px 4px rgba(0,0,0,.3))


code
  border-radius(5px)
  background-color lightgrey
