
<div class="section grey lighten-3">
    <div class="col s12">
        <div class='container'>
            <div class="section pads-b-20">
                <div class="col s12">
                    <h1 class="title white-text">
                        <strong class="pink-text text-accent-1">
                        mz</strong>
                        Table</h1>
                </div>
                <div class='col s12'>
                    <h3 class="light indigo-text text-lighten-4 center-on-small-only">
                    Hello</h3></div></div>

            <div class="section pads-b-20">

            </div>
    </div></div></div>
