<div class="page">

    <header class="page-header grey darken-3 z-depth-2">
      <div class="container">
        <div class="row">

          <div class="col s12">
            <h1 class="page-title white-text darken-4">
              <strong class="pink-text text-accent-1">Typography</strong></h1></div>

          <div class='col s12'>
            <p class=" caption">
              The standard font Material Design uses is Roboto. We have included the font files with our framework.

              </p></div>

          </div></div></header>

    <section class="section">
      <div class='container page-content'>

        <section class="col s12">
          <div class="card white">
            <article class="card-content">

              <h2 class="thin">Roboto 2.0</h2>
              <p>
                The standard font Material Design uses is Roboto. We have included the font files with our framework.
              </p>
              <div class="row center">
                <p class="col s12 m4">
                    We bundle our framework with the latest iteration of Roboto Google has released. It comes with 5 different font weights you can use: 200, 300, 400, 500, 600.
                  <br>
                  <br>
                      Here is an image from Google's Roboto Specimen document displaying the different font weights.
                </p>
                <img src="content/images/style_typography_roboto1.png" class="col ms12 m8" alt="" />
              </div>
              <pre><code no-escape hljs>

&lt;div class="col s12 m2">
    &lt;p class="z-depth-1">z-depth-1&lt;/p>
&lt;/div>
&lt;div class="col s12 m2">
    &lt;p class="z-depth-2">z-depth-2&lt;/p>
&lt;/div>
&lt;div class="col s12 m2">
    &lt;p class="z-depth-3">z-depth-3&lt;/p>
&lt;/div>
&lt;div class="col s12 m2">
    &lt;p class="z-depth-4">z-depth-4&lt;/p>
&lt;/div>
&lt;div class="col s12 m2">
    &lt;p class="z-depth-5">z-depth-5&lt;/p>
&lt;/div>

              </code></pre>

              </article></div></section>


        <section class="col s12">
          <div class="card white">
            <article class="card-content">

              <h2 class="thin">Headers</h2>
              <p>We provide some basic styling on header tags. In the example on the right, you can see the difference in sizes between the 6 header tags.</p>
              <div class="card-panel">
                <h1>Heading h1</h1>
                <h2>Heading h2</h2>
                <h3>Heading h3</h3>
                <h4>Heading h4</h4>
                <h5>Heading h5</h5>
                <h6>Heading h6</h6>
              </div>

              </article></div></section>


        <section class="col s12">
          <div class="card white">
            <article class="card-content">

              <h2 class="header">Blockquotes</h2>
              <p>
                Blockquotes are mainly used to give emphasis to a quote or citation. You can also use these for some extra text hierarchy and emphasis.
                </p>
              <blockquote>
                This is an example quotation that uses the blockquote tag.
                <br>Here is another line to make it look bigger.
              </blockquote>
              <pre><code no-escape hljs>

&lt;blockquote>
    This is an example quotation that uses the blockquote tag.
&lt;/blockquote>

              </code></pre>
              </article></div></section>


        <section class="col s12">
          <div class="card white">
            <article class="card-content">

              <h2 class="header">Flow Text</h2>
              <a flow-toggle class="btn waves-effect waves-light white-text">Toggle flow-text</a>
              <div class="card-panel flow-text-demo">
                  <p class="flow-text">
                  One common flaw we've seen in many frameworks is a lack of support for truly responsive text. While elements on the page resize fluidly, text still resizes on a fixed basis. To ameliorate this problem, for text heavy pages, we've created a class that fluidly scales text size and line-height to optimize readability for the user. Line length stays between 45-80 characters and line height scales to be larger on smaller screens.</p>
                  <br>
                  <br>
                  <p class="flow-text">To see Flow Text in action, slowly resize your browser and watch the size of this text body change! Use the button above to toggle off/on flow-text to see the difference!</p>
              </div>
              <pre><code no-escape hljs>

&lt;p flow-text>I am Flow Text&lt;/p>

              </code></pre>
              </article></div></section>



      </div></section>

</div>
