<div class="container">
    <div class="row">
        <div class="col l6 s12">
            <h5 class="grey-text">Footer Content</h5>
            <p class="grey-text text-darken-2">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="grey-text">Links</h5>
            <li><a class="grey-text text-darken-2" href="#!">Link 1</a></li>
            <li><a class="grey-text text-darken-2" href="#!">Link 2</a></li>
            <li><a class="grey-text text-darken-2" href="#!">Link 3</a></li>
            <li><a class="grey-text text-darken-2" href="#!">Link 4</a></li>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container pink-text accent-2">
        © 2015 Copyright i-materialize
        <a class="grey-text text-darken-2 right" href="#!">More Links</a>
    </div>
</div>