    <div class="container grey-text text-lighten-4">
        <div class="row">
            <div class="col l6 s12 ">
                <h5 class="">Contributers</h5>
                <li><a class="pink-text text-accent-1" href="http://github.com/joelcoxokc">@JoelCox</a></li>
                <li><a class="pink-text text-accent-1" href="http://github.com/garrettjoecox">@GarrettCox</a></li>
                <li><a class="pink-text text-accent-1" href="http://github.com/loqi">@ParkLoqi</a></li>
            </div>

            <div class="col l4 offset-l2 s12">
                <h5 class="">Resources</h5>
                <li><a class="pink-text text-accent-1" href="http://dogfalo.github.io/materialize/">Materialize CSS</a></li>
                <li><a class="pink-text text-accent-1" href="http://www.google.com/design/spec/material-design/introduction.html">Material Design</a></li>   <!-- FIXME: is this supposed to be in a UL or OL ? -->
                <li><a class="pink-text text-accent-1" href="http://www.materialpalette.com/">Material Palette</a></li>
                <li><a class="pink-text text-accent-1" href="http://www.materialup.com/tools/colors">Color Picker</a></li>
                </div></div></div>

    <div class="footer-copyright grey darken-4 grey-text text-lighten-3">
        <div class="container">
            © 2014 Copyright ui.Materialize
            <a class="grey-text text-lighten-4 right" href="joelcox.io">@JoelCoxOKC</a></div></div>
