<div class="nav-wrapper">
  <div class="container">
    <a ui-sref="home" class="brand-logo indigo-text waves-effect waves-light"><strong class="pink-text text-accent-1">ui</strong>Materialize</a>
    <ul id="nav-mobile" class="right side-nav">
      <li class="waves-effect waves-light"><a class="pink-text" ui-sref="gettingStarted">Getting Started</a></li>
      <li class="waves-effect waves-light"><a class="pink-text" ui-sref="grid">Grid</a></li>
      <li class="waves-effect waves-light"><a class="pink-text" ui-sref="components">Components</a></li>
      <!-- <li class="waves-effect waves-light"><a class="pink-text" href="">JavaScript</a></li> -->
    </ul>
  </div>
</div>
