<bar-brand ui-sref="app.home">
  <strong class="pink-text text-accent-2">ui</strong>Materialize</bar-brand>
<bar-content>
  <nav-action-group side="left" links="blue-text text-accent-1">
    <nav-action
      waves=true
      state=gettingStarted
      ui-sref="app.gettingStarted"
      >Getting Started</nav-action>

    </nav-action-group>
  <nav-action-group side="right" links="pink-text text-accent-1">
      <!-- <button   type="button"
                mz-toggle-right-nav
                class="nav-side-toggle nav-action no-margin waves-effect waves-dark pink accent-2 "
                icon="mdi-navigation-menu"
                next-icon='mdi-navigation-arrow-forward'
                ></button> -->
                </nav-action-group>
                <!-- header-action-huge -->
  </bar-content>
