<div class="section no-pad-bot indigo z-depth-1">
    <div class='container'>
        <div class="row">
            <div class="col s12">
                <h1 class="title pink-text text-accent-1">ui<strong class="white-text">Materialize</strong></h1>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <h3 class="intro-text white-text">AngularJS Directive for Materialize<strong>CSS</strong></h3>
            </div>
        </div>
        <div class="row">
            <a ui-sref="gettingStarted" class="pink accent-1 btn-large waves-effect waves-light">Getting Started</a>
        </div>
    </div>
</div>
<!-- <div class="row grey darken-3 pads-t-15">
    <div class="container">
        <a class="right btn btn-flat waves-effect waves-light btn-small grey darken-2">GitHub</a>
    </div>
</div> -->
<div class="row">
    <div class="container">

            <div class="grey darken-3 intro-devices">
                <div class="intro-devices-inner grey lighten-3">
                    <mz-nav color="pink accent-1" class="indigo"></mz-nav>
                    <mz-main>

                        <div class="row"></div>
                        <div class="row">
                            <div class="col s6">
                                <div class="white intro-block"></div>
                            </div>
                            <div class="col s6">
                                <div class="white intro-block"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s4">
                                <div class="white intro-block"></div>
                            </div>
                            <div class="col s4">
                                <div class="white intro-block"></div>
                            </div>
                            <div class="col s4">
                                <div class="white intro-block"></div>
                            </div>
                        </div>
                    </mz-main>
                    <mz-footer color="pink accent-2"></mz-footer>
                </div>
            </div>

    </div>
</div>