<mz-nav-side-heading>
    <button type="button"
            mz-toggle-right-nav
            class="nav-side-toggle nav-action no-margin waves-effect waves-dark pink accent-2 "
            icon="mdi-navigation-menu"
            next-icon='mdi-navigation-arrow-forward'
            header-action-huge
            ><i class="mdi-navigation-menu"></i></button></mz-nav-side-heading>

<mz-nav-side-content>
    <nav-collapsible-group></nav-collapsible-group>
    <nav-action-group side="bottom" links="blue-text text-accent-2">
        <nav-action
              waves='light'
              icon="fa fa-github"
              label="github"
              ></nav-action></nav-action-group></mz-nav-side-content>