<div class="page">
  <header class="page-header grey darken-3 z-depth-2">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h1 class="page-title white-text darken-4">
            <strong class="pink-text text-accent-1">mz</strong>Btn</h1></div>
          <div class='col s12'><p class=" caption">There are 3 main button types described in material design. The raised button is a standard button that signify actions and seek to give depth to a mostly flat page. The floating circular action button is meant for very important functions. Flat buttons are usually used within elements that already have depth like cards or modals.</p></div>
          </div>
        </div>
      </header>

    <section class="section">
      <div class='container page-content'>

        <section class="col s12">
          <div class="card white">
            <article class="card-content">

              <h3 class="thin">Raised</h3>

              <a class="waves-effect waves-light btn btn-raised white-text">Stuff</a>
              <a class="waves-effect waves-light btn btn-raised white-text"><i class="mdi-file-cloud left"></i>button</a>
              <a class="waves-effect waves-light btn btn-raised white-text"><i class="mdi-file-cloud right"></i>button</a>

              <pre><code no-escape hljs>

              &lt;mz-btn type="raised" waves=light>Stuff&lt;/mz-btn>
              &lt;mz-btn type="raised" waves=light icon="mdi-file-cloud left">&lt;/mz-btn>
              &lt;mz-btn type="raised" waves=light icon="mdi-file-cloud right">&lt;/mz-btn>

              </code></pre>

              </article></div></section>


        <section id="" class="col s12">
            <div class="card white">
              <article class="card-content">

                <h3 class="thin">Floating</h3>

                <a class="btn-floating btn-large waves-effect waves-light red"><i class="mdi-content-add"></i></a>
                <pre><code no-escape hljs>

                &lt;mz-btn type="floating" waves=light icon="mdi-content-add">&lt;/mz-btn>

                </code></pre>
                </article></div></section>

        <section class="col s12">
            <div class="card white">
              <article class="card-content">

                <h3 class="thin">Flat</h3>

                <a class="waves-effect waves-teal btn-flat">Button</a>

                <pre><code no-escape hljs>

                &lt;mz-btn type="flat" waves=teal>Button  &lt;/mz-btn>

                </code></pre>
                </article></div></section>

        <section class="col s12">
            <div class="card white">
              <article class="card-content">

                <h3 class="thin">Submit Button</h3>

                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                  <i class="mdi-content-send right"></i>
                </button>
                <pre><code no-escape hljs>

                &lt;mz-btn type="submit" waves=light icon="mdi-file-cloud">&lt;/mz-btn>

                </code></pre>
                </article></div></section>

        <section class="col s12">
            <div class="card white">
              <article class="card-content">

                <h3 class="thin">Disabled</h3>

                <a class="btn-large disabled">Button</a>
                <a class="btn disabled">Button</a>
                <a class="btn-flat disabled">Button</a>
                <a class="btn-floating disabled"><i class="mdi-content-add"></i></a>
                <pre><code no-escape hljs>

                <!-- &lt;mz-btn type="dsiabled" waves=light icon="mdi-file-cloud">&lt;/mz-btn>
                &lt;mz-btn type="submit" waves=light icon="mdi-file-cloud">&lt;/mz-btn> -->

                </code></pre>
                </article></div></section>

      </div></section>

</div>

