<div class="section grey lighten-3">
  <div class="col s12">
    <div class='container'>

      <div class="section pads-b-20">

        <div class="col s12">
          <h1 class="title grey-text darken-4">
            <strong class="pink-text text-accent-1">mz</strong>Card</h1>
        </div>
        <div class='col s12'>
          <h3 class="light indigo-text text-lighten-4 center-on-small-only"></h3>
        </div>

      </div>

        <!-- Cards Example -->
      <div class="section pads-b-20">
        <div class="col s12">
          <div class="row">
            <div class="col s12 m6">

              <mz-card z-bg="white" lb="4">

                  <card-content>
                    <card-title z-text="grey">Card Title</card-title>
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                  </card-content>
                  <card-action>
                    <a waves=dark>This is a link</a>
                    <a waves=dark>This is a link</a>
                  </card-action>

                  </mz-card>

            </div>
          </div>
        </div>
      </div>

      <div class="section pads-b-20">
        <div class="col s12">
            <pre><code no-escape hljs>

            &lt;mz-card>

                &lt;card-content>
                    &lt;card-title z-text="grey">Card Title&lt;/card-title>
                    &lt;p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.&lt;/p>
                &lt;/card-content>

                &lt;card-action>
                    &lt;a waves=dark>This is a link&lt;/a>
                    &lt;a waves=dark>This is a link&lt;/a>
                &lt;/card-action>

            &lt;/mz-card>

            </code></pre>
        </div>
      </div>
    </div>
  </div>
</div>
