<div class="page">

    <header class="page-header grey darken-3 z-depth-2">
      <div class="container">
        <div class="row">

          <div class="col s12">
            <h1 class="page-title white-text darken-4">
              <strong class="pink-text text-accent-1">mz</strong>Card</h1></div>

          <div class='col s12'>
            <p class=" caption">
              Cards are a convenient means of displaying content composed of different types of objects. They’re also well-suited for presenting similar objects whose size or supported actions can vary considerably, like photos with captions of variable length.
              </p></div>

          </div></div></header>

    <section class="section">
      <div class='container page-content'>

        <section class="col s12">
          <div class="card white">
            <article class="card-content">

              <h3 class="thin">Basic Card</h3>

              <div class="row">
                <div class="col s12 m6">
                  <mz-card class="blue-grey darken-1">
                    <card-content class="white-text">
                      <span class="card-title">Card Title</span>
                      <p>I am a very simple card. I am good at containing small bits of information.
                      I am convenient because I require little markup to use effectively.</p>
                    </card-content>
                    <card-action>
                      <a>This is a link</a>
                      <a>This is a link</a>
                    </card-action>

                    </mz-card></div></div>

              <pre><code class="nohighlight" no-escape hljs>

&lt;mz-card type=raised class="blue-grey darken-1">

    &lt;card-content text="white">
        &lt;card-title>Card Title&lt;/card-title>
        &lt;p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.&lt;/p>
    &lt;/card-content>
    &lt;card-action>
        &lt;a href="#">This is a link&lt;/a>
        &lt;a href='#'>This is a link&lt;/a>
    &lt;/card-action>

&lt;/mz-card>

              </code></pre>

              </article></div></section>


        <section class="col s12">
            <div class="card white">
              <article class="card-content">

                <h3 class="thin">Image Card</h3>

                <div class="row">
                  <div class="col s12 m7">
                    <mz-card>

                      <card-image>
                        <img src="content/images/sample-1.jpg">
                        <span class="card-title">Card Title</span>
                      </card-image>
                      <card-content>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                      </card-content>
                      <card-action>
                        <a>This is a link</a>
                        <a>This is a link</a>
                      </card-action>

                      </mz-card></div></div>

                <pre><code no-escape hljs>

&lt;mz-card>

    &lt;card-image>
        &lt;img src="images/sample-1.jpg">
        &lt;card-title>Card Title&lt;/card-title>
    &lt;/card-image>

    &lt;card-content>
        &lt;p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.&lt;/p>
    &lt;/card-content>
    &lt;card-action>
        &lt;a href="#">This is a link&lt;/a>
        &lt;a href='#'>This is a link&lt;/a>
    &lt;/card-action>

&lt;/mz-card>

                </code></pre>
                </article></div></section>

        <section class="col s12">
            <div class="card white">
              <article class="card-content">

                <h3 class="thin">Card Reveal</h3>
                <div class="row">
                  <div class="col s12 m7">
                    <mz-card>

                      <card-image class="waves-effect waves-block waves-light">
                        <img class="activator" src="content/images/office.jpg">
                      </card-image>
                      <card-content>
                        <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">This is a link</a></p>
                      </card-content>
                      <card-reveal>
                        <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </card-reveal>

                    </mz-card></div></div>

                <pre><code no-escape hljs>

&lt;mz-card>

    &lt;card-image class="waves-effect waves-block waves-light">
        &lt;img class="activator" src="images/office.jpg">
    &lt;/card-image>

    &lt;card-content>
        &lt;card-title class="activator grey-text text-darken-4">Card Title &lt;i class="mdi-navigation-more-vert right">&lt;/i>&lt;/card-title>
        &lt;p>&lt;a href="#">This is a link&lt;/a>&lt;/p>
    &lt;card-content>

    &lt;card-reveal>
        &lt;card-title class="grey-text text-darken-4">Card Title &lt;i class="mdi-navigation-close right">&lt;/i>&lt;/card-title>
        &lt;p>Here is some more information about this product that is only revealed once clicked on.&lt;/p>
    &lt;/card-reveal>

&lt;/mz-card>

                </code></pre>
                </article></div></section>

        <section class="col s12">
            <div class="card white">
              <article class="card-content">

                <h3 class="thin">Small Card</h3>

                <div class="row">
                  <div class="col s12 m7">

                    <mz-card size="small">

                      <card-image>
                        <img src="content/images/sample-1.jpg">
                        <span class="card-title">Card Title</span>
                      </card-image>
                      <card-content>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                      </card-content>
                      <card-action>
                        <a>This is a link</a>
                        <a>This is a link</a>
                      </card-action>

                    </mz-card></div></div>

                <pre><code no-escape hljs>

&lt;mz-card size=small>

    &lt;card-image>
        &lt;img src="images/sample-1.jpg">
        &lt;span class="card-title">Card Title&lt;/span>
    &lt;/card-image>
    &lt;card-content>
        &lt;p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.&lt;/p>
    &lt;/card-content>
    &lt;card-action>
        &lt;a href="#">This is a link&lt;/a>
        &lt;a href='#'>This is a link&lt;/a>
    &lt;/card-action>

&lt;/mz-card>

                </code></pre>
                </article></div></section>

        <section class="col s12">
            <div class="card white">
              <article class="card-content">

                <h3 class="thin">Card Panel</h3>

                <div class="row">
                  <div class="col s12 m5">
                    <mz-card type="panel" class="teal">

                      <span class="white-text">I am a very simple card. I am good at containing small bits of information.
                      I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                      </span>

                    </mz-card></div></div>

                <pre><code no-escape hljs>

&lt;mz-card type=panel>
    &lt;span class="white-text">I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.\
    &lt;/span>
&lt;/mz-card>

                </code></pre>
                </article></div></section>

      </div></section>

</div>

