<div class="page">

    <header class="page-header grey darken-3 z-depth-2">
      <div class="container">
        <div class="row">

          <div class="col s12">
            <h1 class="page-title white-text darken-4">
              <strong class="pink-text text-accent-1">mz</strong>Collection</h1></div>

          <div class='col s12'>
            <p class=" caption">
              Collections allow you to group list objects together.

              </p></div>

          </div></div></header>

    <section class="section">
      <div class='container page-content'>

        <section class="col s12">
          <div class="card white">
            <article class="card-content">

              <h1 class="pink-text accent-2">Basic</h1>

              <mz-collection>
                <collection-item>Alvin</collection-item>
                <collection-item>Alvin</collection-item>
                <collection-item>Alvin</collection-item>
                <collection-item>Alvin</collection-item>
              </mz-collection>

              <pre><code no-escape hljs>

                &lt;mz-collection>
                    &lt;collection-item>
                        Alvin
                    &lt;/collection-item>
                    &lt;collection-item>
                        Alvin
                    &lt;/collection-item>
                    &lt;collection-item>
                        Alvin
                    &lt;/collection-item>
                    &lt;collection-item>
                        Alvin
                    &lt;/collection-item>
                &lt;/mz-collection>

              </code></pre>


              </article></div></section>


        <section id="" class="col s12">
            <div class="card white">
              <article class="card-content">

                <h1 class="pink-text accent-2">Links</h1>

                <mz-collection class="collection">
                  <collection-link >Alvin</collection-link>
                  <collection-link active=true>Alvin</collection-link>
                  <collection-link >Alvin</collection-link>
                  <collection-link >Alvin</collection-link>
                </mz-collection>

                <pre><code no-escape hljs>

                  &lt;mz-collection>

                      &lt;collection-link ui-sref="some-state">
                          Alvin
                      &lt;/collection-link>
                      &lt;collection-link active="true" ui-sref="some-state">
                          Alvin
                      &lt;/collection-link>
                      &lt;collection-link ui-sref="some-state">
                          Alvin
                      &lt;/collection-link>
                      &lt;collection-link ui-sref="some-state">
                          Alvin
                      &lt;/collection-link>

                  &lt;/mz-collection>

                </code></pre>
                </article></div></section>

        <section class="col s12">
            <div class="card white">
              <article class="card-content">

                <h1 class="pink-text accent-2">Headers</h1>

                <mz-collection class="collection with-header">
                  <collection-header><h4>First Names</h4></collection-header>
                  <collection-item>Alvin</collection-item>
                  <collection-item>Alvin</collection-item>
                  <collection-item>Alvin</collection-item>
                  <collection-item>Alvin</collection-item>
                </mz-collection>

                <pre><code no-escape hljs>

                  &lt;mz-collection>

                      &lt;collection-header>
                          &lt;h4>First Names&lt;/h4>
                      &lt;/collection-header>

                      &lt;collection-item>
                          Alvin
                      &lt;/collection-item>
                      &lt;collection-item class="active">
                          Alvin
                      &lt;/collection-item>
                      &lt;collection-item>
                          Alvin
                      &lt;/collection-item>
                      &lt;collection-item>
                          Alvin
                      &lt;/collection-item>
                  &lt;/mz-collection>

                </code></pre>
                </article></div></section>


        <section class="col s12">
            <div class="card white">
              <article class="card-content">

                <h1 class="pink-text accent-2">Secondary Content</h1>

                <mz-collection class="with-header">
                  <collection-header><h4>First Names</h4></collection-header>
                  <collection-item>Alvin<item-secondary icon="mdi-content-send"></item-secondary></collection-item>
                  <collection-item>Alvin<item-secondary icon="mdi-content-send"></item-secondary></collection-item>
                  <collection-item>Alvin<item-secondary icon="mdi-content-send"></item-secondary></collection-item>
                  <collection-item>Alvin<item-secondary icon="mdi-content-send"></item-secondary></collection-item>
                </mz-collection>

                <pre><code no-escape hljs>

                  &lt;mz-collection>
                      &lt;collection-header>
                          &lt;h4>First Names&lt;/h4>
                      &lt;/collection-header>
                      &lt;collection-item>

                          Alvin
                          &lt;item-secondary>
                            &lt;i class="mdi-content-send">&lt;/i>
                          &lt;/item-secondary>

                      &lt;/collection-item>
                      &lt;collection-item>

                          Alvin
                          &lt;item-secondary>
                            &lt;i class="mdi-content-send">&lt;/i>
                          &lt;/item-secondary>

                      &lt;/collection-item>
                      &lt;collection-item>

                          Alvin
                          &lt;item-secondary>
                            &lt;i class="mdi-content-send">&lt;/i>
                          &lt;/item-secondary>

                      &lt;/collection-item>
                      &lt;collection-item>

                          Alvin
                          &lt;item-secondary>
                            &lt;i class="mdi-content-send">&lt;/i>
                          &lt;/item-secondary>

                      &lt;/collection-item>
                  &lt;/mz-collection>

                </code></pre>
                </article></div></section>


      </div></section>

</div>
