<div class="section grey lighten-3">
  <div class="col s12">
    <div class='container'>

      <div class="section pads-b-20">

        <div class="col s12">
          <h1 class="title grey-text darken-4">
            <strong class="pink-text text-accent-1">mz</strong>Collapsible</h1>
        </div>
        <div class='col s12'>
          <h3 class="light indigo-text text-lighten-4 center-on-small-only"></h3>
        </div>

      </div>

        <!-- Cards Example -->
      <div class="section pads-b-20">
        <div class="row">
          <div class="col s12">
            <h1 class="pink-text accent-2">Basic</h1>

            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>First</div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="mdi-maps-place"></i>Second</div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="mdi-social-whatshot"></i>Third</div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
              </li>
            </ul>

            <pre><code no-escape hljs>

              &lt;mz-collapsible type=accordion>
                  &lt;mz-collapse>
                      &lt;collapse-header>
                          &lt;i class="mdi-image-filter-drama">&lt;/i>First
                      &lt;/collapse-header>
                      &lt;collapse-body>
                          &lt;p>Lorem ipsum dolor sit amet.&lt;/p>
                      &lt;/collapse-body>
                  &lt;/mz-collapse>
              &lt;/mz-collapsible>

            </code></pre>

          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <h1 class="pink-text accent-2">Accordion</h1>

            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>First</div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="mdi-maps-place"></i>Second</div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="mdi-social-whatshot"></i>Third</div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
              </li>
            </ul>

            <pre><code no-escape hljs>

              &lt;mz-collapsible type=accordion>

            </code></pre>

          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <h1 class="pink-text accent-2">Expandable</h1>

            <ul class="collapsible" data-collapsible="expandable">
              <li>
                <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>First</div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="mdi-maps-place"></i>Second</div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="mdi-social-whatshot"></i>Third</div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
              </li>
            </ul>

            <pre><code no-escape hljs>

              &lt;mz-collapsible type=expandable>
            </code></pre>

          </div>
        </div>
      </div>


    </div>
  </div>
</div>
