<div class="page">

    <header class="page-header grey darken-3 z-depth-2">
      <div class="container">
        <div class="row">

          <div class="col s12">
            <h1 class="page-title white-text darken-4">
              <strong class="pink-text text-accent-1">mz</strong>Dialog</h1></div>

          <div class='col s12'>
            <h3 z-text=white>Coming Soon</h3>
            <p class=" caption">

              </p></div>

          </div></div></header>

    <section class="section">
      <div class='container page-content'>

        <section class="col s12">
          <div class="card white">
            <article class="card-content">

              <h3 class="thin"></h3>

              <pre><code no-escape hljs>
&lt;mz-dialog>&lt;/mz-dialog>
              </code></pre>

              </article></div></section>

      </div></section>

</div>
