<div class="page">

    <header class="page-header grey darken-3 z-depth-2">
      <div class="container">
        <div class="row">

          <div class="col s12">
            <h1 class="page-title white-text darken-4">
              <strong class="pink-text text-accent-1">mz</strong>Drop</h1></div>

          <div class='col s12'>
            <p class=" caption">

              </p></div>

          </div></div></header>

    <section class="section">
      <div class='container page-content'>

        <section class="col s12">
          <div class="card white">
            <article class="card-content">

              <h3 class="thin">Introduction</h3>

              <p>You can add a divider doing the following.</p>
                <pre><code no-escape hljs> &lt;li class="divider">&lt;/li></code></pre>

              <!-- Dropdown Trigger -->
              <button type="button" class='dropdown-button btn mz-btn' data-activates='dropdown1'>Drop Me!</button>

              <!-- Dropdown Structure -->
              <ul id='dropdown1' class='dropdown-content'>
                <li><a>one</a></li>
                <li><a>two</a></li>
                <li class="divider"></li>
                <li><a>three</a></li>
              </ul>


              <pre><code no-escape hljs>

              <!-- Dropdown Trigger -->
              &lt;mz-btn class='dropdown-button btn'
                      mz-drop-toggle='dropdown1'
                      >Drop Me!&lt;/mz-btn>

              &lt;!-- Dropdown Structure -->
              &lt;mz-drop id="dropdown1">

                  &lt;li>&lt;a href="#!">one&lt;/a>&lt;/li>
                  &lt;li>&lt;a href="#!">two&lt;/a>&lt;/li>
                  &lt;li class="divider">&lt;/li>
                  &lt;li>&lt;a href="#!">three&lt;/a>&lt;/li>

              &lt;/mz-drop>

              </code></pre>

              </article></div></section>

      </div></section>

</div>

