<div class="page">

    <header class="page-header grey darken-3 z-depth-2">
      <div class="container">
        <div class="row">

          <div class="col s12">
            <h1 class="page-title white-text darken-4">
              <strong class="pink-text text-accent-1">mz</strong>Notify</h1></div>

          <div class='col s12'>
            <!-- <h3 z-text=white>Coming Soon</h3> -->
            <p class=" caption">

              </p></div>

          </div></div></header>

    <section class="section">
      <div class='container page-content'>

        <section class="col s12">
          <div class="card white">
            <article class="card-content">

              <h3 class="thin">Toast</h3>
              <p class=" caption">mzNotify or Toastr can be used one of two ways</p>
              <p class=" caption">Use the service $Notify</p>
              <br>
              <br>
              <mz-btn type="raised" class="waves-effect waves-light" mz-notify-success="Yolo">Notify</mz-btn>
              <pre><code no-escape hljs>

(function(){

  angular
    .module('app')
    .controller('AppCtrl', AppCtrl);

    function AppCtrl($Notify) {
      $Notify.success('Yolo');
    }

})();
              </code></pre>

              <br>
              <br>
              <br>
              <p class=" caption">Or use the directive mz-notify</p>
              <br>
              <br>
              <br>


              <pre><code no-escape hljs>

&lt;mz-btn type="raised" mz-notify-success="Yolo">Notify&lt;/mz-btn>

&lt;mz-btn type="raised" mz-notify-success notify-message="Yolo" notify-options="someOptions">Notify&lt;/mz-btn>

              </code></pre>

              </article></div></section>

      </div></section>

</div>
