

/*==========================================|  SIZES
*/
$defaults-size   = 10px
$sizes           = 5px 10px 15px 20px 25px 30px 35px 40px 60px 80px 100px 120px 140px 160px 180px 200px

$size-xs         = 24px
$size-s          = 30px
$size-m          = 36px
$size-l          = 40px
$size-xl         = 56px

$component-sizes =  {'xs': $size-xs, 's': $size-s, 'm': $size-m, 'l': $size-l, 'xl': $size-xl}

/*==========================================|  SIDES
*/
$sides         = top right bottom left
$sides-short   = t r b l


/*==========================================|  SCREEN
*/
$small-screen-up = 601px
$medium-screen-up = 993px
$large-screen-up = 1201px
$small-screen = 600px
$medium-screen = 992px
$large-screen = 1200px

/*==========================================|  COLORS
*/
$red            =       $red-500
$pink           =       $pink-500
$purple         =       $purple-500
$deep-purple    =       $deep-purple-500
$indigo         =       $indigo-500
$blue           =       $blue-500
$light-blue     =       $light-blue-500
$teal           =       $teal-500
$green          =       $green-500
$light-green    =       $light-green-500
$lime           =       $lime-500
$yellow         =       $yellow-500
$amber          =       $amber-500
$orange         =       $orange-500
$deep-orange    =       $deep-orange-500
$brown          =       $brown-500
$grey           =       $grey-500
$blue-grey      =       $blue-grey-500


/*==========================================|  BUTTONS
*/
$button-background-disabled = #DFDFDF
$button-color = color("blue", "base")
$button-color-disabled = #9F9F9F
$button-color-flat = #343434
$button-color-raised = #FFF
$button-floating-size = 37px
$button-height = 36px
$button-font-size-shared = 1.3rem
$button-line-height = 36px


/*==========================================|  CARDS
*/
$default-color = #00bcd4
$card-padding = 16px
$footer-font-color = #000

/*==========================================|  COLLAPSIBLE
*/
$collapsible-height = 3rem
$collapsible-header-color = #fff
$collapsible-border-color = #ddd

/*==========================================|  FORMS
*/

/*====| text-area
*/
$border-color = color("grey", "base")
$highlight-color = color("light-blue", "base")
$label-font-size = .8rem



/*====| Radio Buttons
*/
$disabled-color = rgba(0,0,0, .26)
$fill-color = #0f9d58
$radio-border = #5a5a5a


// $medium-and-up = "only screen and (min-width: #{$small-screen-up})"
// $large-and-up = "only screen and (min-width: #{$medium-screen-up})"
// $small-and-down = "only screen and (max-width: #{$small-screen})"
// $medium-and-down = "only screen and (max-width: #{$medium-screen})"
// $medium-only = "only screen and (min-width: #{$small-screen-up}) and (max-width  = #{$medium-screen})"

/*==========================================|  GRID
*/
$num-cols = 12
$gutter-width = 1.5rem



/*==========================================|  TOASTS
*/
$toast-height = 48px



/*==========================================|  TYPEOGRAPHY
*/
$off-black = rgba(0, 0, 0, 0.87)

/*==========================================|  h - HEADINGS
*/
$h1-fontsize = 4.2rem
$h2-fontsize = 3.56rem
$h3-fontsize = 2.92rem
$h4-fontsize = 2.28rem
$h5-fontsize = 1.64rem
$h6-fontsize = 1rem

/*==========================================|  FLOW TEXT
*/
$range  = $large-screen - $small-screen
$intervals = 20
$interval-size = $range / $intervals


/*==========================================|  NAV
*/
$nav-bar-height                 = 64px
$nav-side-width                 = 250px
$nav-side-width-mobile          = 80%
$nav-side-fold-width            = 64px
$nav-side-heading-height        = 64px
$nav-side-heading-height-tall   = 250px
$nav-action-width               = 250px
$nav-action-width-fold          = 64px