

// code
//     background  #e5e5e5
//     border 1px solid lightgrey
//     padding 20px

.promo-caption
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0px;

max-out()
    // max-width 100vw
    // min-width 100vw
    // max-height 100vh
    // min-height 100vh
    // width 100vw
    // height 100vh


html
    // font-size none
    &.has-flex, .has-flex
        box-sizing(border-box)

        // max-out()
        // overflow-x hidden !important
        min-width 100vw
        max-width 100vw
        width 100vw
        position relative
        // font-size 0
        overflow hidden !important
        height 100vh
        min-height 100vh
        flex-container()
        background-color black

        *
            box-sizing(border-box)


body
    &.has-flex

        min-width 100vw
        max-width 100vw
        min-height 100vh
        position relative
        // background-color black
        flex-container()
        flex--direction(column)

a
    cursor: pointer

.mz-materialize
    font-size 15px
    flex-container()
    flex-direction row
    margin 0
    padding 0
    min-width 100vw
    max-width 100vw
    width 100vw
    z-index 10
    height inherit



    &.mz-flex-column
        flex-direction: row

    .mz-nav
        flex-container()
        box-sizing(border-box)
        flex: 1 0 auto
        flex-direction: row
        width: 100%
        height $nav-bar-height

    .mz-main
        box-sizing(border-box)
        // flex: 1 0 auto
        // flex-container()
        // flex-direction: row

    .mz-view
        // box-sizing(border-box)
        // flex-container()
        // flex: 1 0 auto

    .mz-body
        box-sizing(border-box)
        // 2scroll-vertical()
        flex: 1 0 auto
        flex-direction column
        transition none !important
        // overflow hidden

        height 100%
        min-height 100%
        scroll-vertical()

    footer
        // box-sizing(border-box)
        // flex: 1 0 auto

.mz-side-nav-toggle {

    i {
        font-size: 2rem
    }
}



.bg-container
    position fixed
    z-index 1

    min-width 100vw
    max-width 100vw
    width 100vw
    min-height 100vw
    height 100vw

.shape-1
    width 900px
    height 500px
    position fixed
    transform: rotate(142deg) scale(2) skewx(-20deg) translate(300px)
    opacity 0.7



.transparent-bg
    height inherit
    width inherit
    min-width inherit
    max-width inherit
    margin 0
    padding 0
    position fixed
    top 0
    left inherit
    right inherit
    background-color rgba(0,0,0,0.6)
    z-index 1
    // filter blur(10px)
.blured-bg
    height inherit
    width inherit
    position relative
    left inherit
    right inherit
    background-color rgba(0,0,0,0.6)
    z-index 1
    filter blur(30px)




