// .mz-nav

// .mz-naz-top
//     &.nav-top-fixed
//     &.nav-top-absolute
//     &.nav-top-relative

//     &:hover

//     &:active
//     &.nav-top-small
//     &.nav-top-medium
//     &.nav-top-large

//     &.nav-top-expanded


// .mz-nav-right

//     &.nav-right-fixed
//     &.nav-right-absolue
//     &.nav-right-relative


//     &.nav-right-open
//     &.nav-right-fold


// .mz-nav-left


//     &.nav-right-fixed
//     &.nav-right-absolue
//     &.nav-right-relative


//     &.nav-right-open
//     &.nav-right-fold



// .mz-nav-bottom
//     .nav-bottom-fixed

