<div class="row center grey lighten-4 pads-t-15">
    <button class='btn waves-effect waves-light pink accent-1' data-ng-click="toggleContainer()">Toggle Container</button>
    <button class='btn waves-effect waves-light pink accent-1' data-ng-click="toggleOffsets()">Toggle Offsets</button>
</div>
<div class="grids-container container" data-ng-class="{'show-offsets':showOffsets}">
    <div class="row">
        <mz-col s=1>
            <div class="grid-block indigo"></div>
        </mz-col>
        <mz-col s=1>
            <div class="grid-block white"></div>
        </mz-col>
        <mz-col s=1>
            <div class="grid-block white"></div>
        </mz-col>
        <mz-col s=1>
            <div class="grid-block grey lighten-2"></div>
        </mz-col>
        <mz-col s=1>
            <div class="grid-block grey lighten-2"></div>
        </mz-col>
        <mz-col s=1>
            <div class="grid-block grey lighten-1"></div>
        </mz-col>
        <mz-col s=1>
            <div class="grid-block grey lighten-1"></div>
        </mz-col>
        <mz-col s=1>
            <div class="grid-block grey lighten-2"></div>
        </mz-col>
        <mz-col s=1>
            <div class="grid-block grey lighten-2"></div>
        </mz-col>
        <mz-col s=1>
            <div class="grid-block white"></div>
        </mz-col>
        <mz-col s=1>
            <div class="grid-block white"></div>
        </mz-col>
        <!-- <div class="col s1" data-ng-class="{'offset-s10':showOffsets}"> -->
        <div class="col s1 offseter" data-offset="s10">
            <div class="grid-block indigo"></div>
        </div>
    </div>
    <div class="row">
        <mz-col s=2>
            <div class="grid-block indigo"></div>
        </mz-col>
        <mz-col s=2>
            <div class="grid-block white"></div>
        </mz-col>
        <mz-col s=2>
            <div class="grid-block grey lighten-2"></div>
        </mz-col>
        <mz-col s=2>
            <div class="grid-block grey lighten-2"></div>
        </mz-col>
        <mz-col s=2>
            <div class="grid-block white"></div>
        </mz-col>
        <!-- <div class="col s2" data-ng-class="{'offset-s8':showOffsets}"> -->
        <div class="col s2 offseter" data-offset="s8">
            <div class="grid-block indigo"></div>
        </div>
    </div>
    <div class="row">
        <mz-col s=3>
            <div class="grid-block indigo"></div>
        </mz-col>
        <mz-col s=3>
            <div class="grid-block white"></div>
        </mz-col>
        <mz-col s=3>
            <div class="grid-block white"></div>
        </mz-col>
        <!-- <div class="col s3" data-ng-class="{'offset-s6':showOffsets}"> -->
        <div class="col s3 offseter" data-offset="s6">
            <div class="grid-block indigo"></div>
        </div>
    </div>
    <div class="row">
        <mz-col s=4>
            <div class="grid-block indigo"></div>
        </mz-col>
        <mz-col s=1>
            <div class="grid-block pink"></div>
        </mz-col>
        <mz-col s=2>
            <div class="grid-block pink accent-2"></div>
        </mz-col>
        <mz-col s=1>
            <div class="grid-block pink"></div>
        </mz-col>
        <!-- <div class="col s4" data-ng-class="{'offset-s4':showOffsets}"> -->
        <div class="col s4 offseter" data-offset="s4">
            <div class="grid-block indigo"></div>
        </div>
    </div>
    <div class="row">
        <mz-col s=5>
            <div class="grid-block indigo"></div>
        </mz-col>
        <mz-col s=2>
            <div class="grid-block pink accent-1"></div>
        </mz-col>
        <!-- <div class="col s5" data-ng-class="{'offset-s2':showOffsets}"> -->
        <div class="col s5 offseter" data-offset="s2">
            <div class="grid-block indigo"></div>
        </div>
    </div>
    <div class="row">
        <mz-col s=4>
            <div class="grid-block indigo"></div>
        </mz-col>
        <mz-col s=1>
            <div class="grid-block pink"></div>
        </mz-col>
        <mz-col s=2>
            <div class="grid-block pink accent-2"></div>
        </mz-col>
        <mz-col s=1>
            <div class="grid-block pink"></div>
        </mz-col>
        <!-- <div class="col s4" data-ng-class="{'offset-s4':showOffsets}"> -->
        <div class="col s4 offseter" data-offset="s4">
            <div class="grid-block indigo"></div>
        </div>
    </div>
    <div class="row">
        <mz-col s=3>
            <div class="grid-block indigo"></div>
        </mz-col>
        <mz-col s=3>
            <div class="grid-block white"></div>
        </mz-col>
        <mz-col s=3>
            <div class="grid-block white"></div>
        </mz-col>
        <!-- <div class="col s3" data-ng-class="{'offset-s6':showOffsets}"> -->
        <div class="col s3 offseter" data-offset="s6">
            <div class="grid-block indigo"></div>
        </div>
    </div>
    <div class="row">
        <mz-col s=2>
            <div class="grid-block indigo"></div>
        </mz-col>
        <mz-col s=2>
            <div class="grid-block white"></div>
        </mz-col>
        <mz-col s=2>
            <div class="grid-block grey lighten-2"></div>
        </mz-col>
        <mz-col s=2>
            <div class="grid-block grey lighten-2"></div>
        </mz-col>
        <mz-col s=2>
            <div class="grid-block white"></div>
        </mz-col>
        <!-- <div class="col s2" data-ng-class="{'offset-s8':showOffsets}"> -->
        <div class="col s2 offseter" data-offset="s8">
            <div class="grid-block indigo"></div>
        </div>
    </div>
    <div class="row">
        <mz-col s=1>
            <div class="grid-block indigo"></div>
        </mz-col>
        <mz-col s=1>
            <div class="grid-block white"></div>
        </mz-col>
        <mz-col s=1>
            <div class="grid-block white"></div>
        </mz-col>
        <mz-col s=1>
            <div class="grid-block grey lighten-2"></div>
        </mz-col>
        <mz-col s=1>
            <div class="grid-block grey lighten-2"></div>
        </mz-col>
        <mz-col s=1>
            <div class="grid-block grey lighten-1"></div>
        </mz-col>
        <mz-col s=1>
            <div class="grid-block grey lighten-1"></div>
        </mz-col>
        <mz-col s=1>
            <div class="grid-block grey lighten-2"></div>
        </mz-col>
        <mz-col s=1>
            <div class="grid-block grey lighten-2"></div>
        </mz-col>
        <mz-col s=1>
            <div class="grid-block white"></div>
        </mz-col>
        <mz-col s=1>
            <div class="grid-block white"></div>
        </mz-col>
        <!-- <div class="col s1" data-ng-class="{'offset-s10':showOffsets}"> -->
        <div class="col s1 offseter" data-offset="s10">
            <div class="grid-block indigo"></div>
        </div>
    </div>
</div>