.grids-container

    &.show-offsets

        .row

            .col.hide-on-offset
                opacity 0
                visibility 0

.grid-block
    height 50px
    width 100%
    padding 10px
    box-shadow(0px 2px 4px rgba(0,0,0,0.2))

    &.is-hidden
        padding 0
        width 0
        opacity 0
        visibility 0
